*.{
    margin: 0;
    padding: 0;
}

@font-face {
font-family: 'Segoe UI Regular';
font-style: normal;
font-weight: normal;
src: local('Segoe UI Regular'), url('fonts/Segoe UI.woff') format('woff');
}


@font-face {
font-family: 'Segoe UI Italic';
font-style: normal;
font-weight: normal;
src: local('Segoe UI Italic'), url('fonts/Segoe UI Italic.woff') format('woff');
}


@font-face {
font-family: 'Segoe UI Bold';
font-style: normal;
font-weight: normal;
src: local('Segoe UI Bold'), url('fonts/Segoe UI Bold.woff') format('woff');
}


@font-face {
font-family: 'Segoe UI Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Segoe UI Bold Italic'), url('fonts/Segoe UI Bold Italic.woff') format('woff');
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 36px;
}

.nav-link {
    color: white;
}



header{
    background-image: url('../images/LandingMain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    margin-top: -240px;
}

header img{
    margin-top: 150px;
}

.bannertext{
   color: white;
   font-family: 'Great Vibes', cursive;
   font-size: 55px;    
}

.mainbtn{
    color: orangered;
}
.mainbtn:hover{
    color: #D1310D;
    background-color:#F4DDAB;
}


/*About*/
.about-us{
    margin-top: 50px;
    margin-bottom: 50px;
}
.aboutimg{
    margin-top: 50px;
    width: 800px;
}
.abouttext{
    font-family: 'Pacifico', cursive;
    color: #D1310D;
    
}

.aboutpara{
    font-family:'Pacifico', cursive;
    color: orange;
    font-size: 22px;
    margin-top: 60px;
}

.testimonial{
    background-color: #D1310D;
    height: 50vh;
    
}

.carousel-item{
    margin-top: 70px;
}



.carousel-inner{
    padding-bottom: 40px;
}

.carousel-control-prev{
    display: none;
}

.carousel-control-next{
    display: none;
}

/* Gallary */

.gallery-block{
  padding-bottom: 60px;
  padding-top: 60px;
    background-color: white;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.compact-gallery .item{
  overflow: hidden;
  margin-bottom: 0;
  background: black;
  opacity: 1;
}

.gallery-block.compact-gallery .item .image{
  transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info{
  position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description{
  display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading{
  font-size: 1em;
  font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body{
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
}

@media (min-width: 576px) {

  .gallery-block.compact-gallery .item .description {
    opacity: 0; 
  }

  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1; 
  } 

  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.7; 
  }
}

.order{
    background-color:white;
    height: 70vh;
    background-repeat: no-repeat;
    margin-top: 50px;
    
}

.formimg
{
    height: 400px;
}
.order form{
    margin: 100px;
    color: orangered;
    font-family: 'Pacifico', cursive;
    font-size: 26px;
}
.submit{
    background-color: #DA6B00;
}

footer{
    background-color: #D1310D;
    height: 60px;
}